In [1]:
import numpy as np
import pandas as pd

#Menggambungkan File

In [3]:
data1 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali1.xlsx')

In [4]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   business_status        20 non-null     object
 1   formatted_address      20 non-null     object
 2   geometry               0 non-null      float64
 3   icon                   20 non-null     object
 4   icon_background_color  20 non-null     object
 5   icon_mask_base_uri     20 non-null     object
 6   name                   20 non-null     object
 7   opening_hours          0 non-null      float64
 8   place_id               20 non-null     object
 9   plus_code              0 non-null      float64
 10  rating                 20 non-null     float64
 11  reference              20 non-null     object
 12  types                  0 non-null      float64
 13  user_ratings_total     20 non-null     int64
 14  photos                 0 non-null      float64
 15  price_level            8 non-null      float64
 16  permanently_closed     1 non-null      float64
 17  Types                  20 non-null     object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ KB

In [5]:
data2 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali2.xlsx')
data3 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali3.xlsx')
data4 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali4.xlsx')
data5 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali5.xlsx')
data6 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali6.xlsx')
data7 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali7.xlsx')
data8 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali8.xlsx')
data9 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali9.xlsx')
data10 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali10.xlsx')
data11 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali11.xlsx')
data12 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali12.xlsx')
data13 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali13.xlsx')
data14 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali14.xlsx')
data15 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali15.xlsx')
data16 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali16.xlsx')
data17 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali17.xlsx')
data18 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali18.xlsx')
data19 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali19.xlsx')
data20 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali20.xlsx')
data21 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali21.xlsx')
data22 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali22.xlsx')
data23 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali23.xlsx')
data24 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali24.xlsx')
data25 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali25.xlsx')
data26 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali26.xlsx')
data27 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali27.xlsx')
data28 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali28.xlsx')
data29 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali29.xlsx')
data30 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali30.xlsx')
data31 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali31.xlsx')
data32 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali32.xlsx')
data33 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali33.xlsx')
data34 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali34.xlsx')
data35 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali35.xlsx')
data36 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali36.xlsx')
data37 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali37.xlsx')
data38 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali38.xlsx')
data39 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali39.xlsx')
data40 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali40.xlsx')
data41 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali41.xlsx')
data42 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali42.xlsx')
data43 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali43.xlsx')
data44 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali44.xlsx')
data45 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali45.xlsx')
data46 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali46.xlsx')
data47 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali47.xlsx')
data48 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali48.xlsx')
data49 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali49.xlsx')
data50 = pd.read_excel('/content/Bali_RestaurantRestaurant_Bali50.xlsx')

In [9]:
Bali_Restaurant = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10,
                             data11, data12, data13, data14, data15, data16, data17, data18, data19, data20,
                             data21, data22, data23, data24, data25, data26, data27, data28, data29, data30, data31,
                             data32, data33, data34, data35, data36, data37, data38, data39, data40, data41, data42, data43,
                             data44, data45, data46, data47, data48, data49, data50], ignore_index=True)

In [14]:
Bali_Restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 0 to 872
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   business_status        107 non-null    object
 1   formatted_address      107 non-null    object
 2   geometry               0 non-null      float64
 3   icon                   107 non-null    object
 4   icon_background_color  107 non-null    object
 5   icon_mask_base_uri     107 non-null    object
 6   name                   107 non-null    object
 7   opening_hours          0 non-null      float64
 8   place_id               107 non-null    object
 9   plus_code              0 non-null      float64
 10  rating                 107 non-null    float64
 11  reference              107 non-null    object
 12  types                  0 non-null      float64
 13  user_ratings_total     107 non-null    int64
 14  photos                 0 non-null      float64
 15  price_level            60 non-null     float64
 16  permanently_closed     2 non-null      float64
 17  Types                  107 non-null    object
dtypes: float64(8), int64(1), object(9)
memory usage: 15.9+ KB

In [13]:
Bali_Restaurant = Bali_Restaurant.drop_duplicates(subset=['place_id'])

In [15]:
Bali_Restaurant.to_csv('Bali_Restaurant.csv')

In [16]:
Bali_Restaurant = pd.read_csv('Bali_Restaurant.csv')

In [17]:
Bali_Restaurant.head()

,Unnamed: 0,business_status,formatted_address,geometry,icon,icon_background_color,icon_mask_base_uri,name,opening_hours,place_id,plus_code,rating,reference,types,user_ratings_total,photos,price_level,permanently_closed,Types
0,0,OPERATIONAL,"57139, Punggawan, Kec. Banjarsari, Kota Suraka...",NaN,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Nasi Campur Bali Gus Yan,NaN,ChIJHUOuL2IWei4R8oOTjOJz10Q,NaN,4.0,ChIJHUOuL2IWei4R8oOTjOJz10Q,NaN,3,NaN,NaN,NaN,restaurant
1,1,OPERATIONAL,"Jl. Moh. Saleh Wedisastro No.4, Setabelan, Kec...",NaN,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Taman Bali Vegetarian Restaurant,NaN,ChIJzRR1QYwWei4Rh_RvD_QvSwE,NaN,4.6,ChIJzRR1QYwWei4Rh_RvD_QvSwE,NaN,346,NaN,NaN,NaN,restaurant
2,2,OPERATIONAL,"Jl. Irian No.38, Tegalharjo, Kec. Jebres, Kota...",NaN,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Nasi Bali Merthasari,NaN,ChIJW5dFG_MWei4RadsJ6wcpGok,NaN,4.5,ChIJW5dFG_MWei4RadsJ6wcpGok,NaN,109,NaN,NaN,NaN,restaurant
3,3,OPERATIONAL,"Jl. Brigjen Sudiarto, Danukusuman, Kec. Sereng...",NaN,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Nasi Jinggo Bali 58,NaN,ChIJ9w7P-WsWei4R2PaAqN_T8oM,NaN,5.0,ChIJ9w7P-WsWei4R2PaAqN_T8oM,NaN,4,NaN,NaN,NaN,restaurant
4,4,OPERATIONAL,"LGF , Solo Paragon , JL. Yosodipuro , Keprabon...",NaN,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Bali Resto,NaN,ChIJr0dgN4IWei4RzbvoqC6i1Zc,NaN,2.0,ChIJr0dgN4IWei4RzbvoqC6i1Zc,NaN,2,NaN,NaN,NaN,restaurant

#Mendapatkan Review Tempat

In [18]:
Bali_Restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             107 non-null    int64
 1   business_status        107 non-null    object
 2   formatted_address      107 non-null    object
 3   geometry               0 non-null      float64
 4   icon                   107 non-null    object
 5   icon_background_color  107 non-null    object
 6   icon_mask_base_uri     107 non-null    object
 7   name                   107 non-null    object
 8   opening_hours          0 non-null      float64
 9   place_id               107 non-null    object
 10  plus_code              0 non-null      float64
 11  rating                 107 non-null    float64
 12  reference              107 non-null    object
 13  types                  0 non-null      float64
 14  user_ratings_total     107 non-null    int64
 15  photos                 0 non-null      float64
 16  price_level            60 non-null     float64
 17  permanently_closed     2 non-null      float64
 18  Types                  107 non-null    object
dtypes: float64(8), int64(2), object(9)
memory usage: 16.0+ KB

In [19]:
Bali_Restaurant = Bali_Restaurant.drop('business_status', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('Unnamed: 0', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('geometry', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('icon', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('icon_background_color', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('icon_mask_base_uri', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('opening_hours', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('photos', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('plus_code', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('reference', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('types', axis=1)
Bali_Restaurant = Bali_Restaurant.drop('price_level', axis=1)

In [ ]:
Bali_Restaurant = Bali_Restaurant[Bali_Restaurant['rating'] >= 4]

In [ ]:
Bali_Restaurant = Bali_Restaurant[Bali_Restaurant['user_ratings_total'] >= 100]

In [ ]:
rating_range = Bali_Restaurant['rating'].min(), Bali_Restaurant['rating'].max()
print("Rating Range:", rating_range)

Rating Range: (4.2, 4.8)

In [ ]:
rating_range = Bali_Restaurant['user_ratings_total'].min(), Bali_Restaurant['user_ratings_total'].max()
print("Rating Range:", rating_range)

Rating Range: (102.0, 6314.0)

In [20]:
Place_id = Bali_Restaurant['place_id']

In [21]:
Place_id = pd.DataFrame(Place_id)

In [22]:
Place_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   place_id  107 non-null    object
dtypes: object(1)
memory usage: 984.0+ bytes

In [23]:
import requests
import pandas as pd

# Set up Google Places API key and endpoint
api_key = "AIzaSyCMNmRthMPplwBnHKyMPoPyhMC5PAfVpd8"
places_endpoint = "https://maps.googleapis.com/maps/api/place/details/json"

# Create empty lists for storing reviewer data and place names
reviewer_names = []
reviewer_ratings = []
place_names = []

# Iterate over each place_id in the DataFrame
for place_id in Place_id['place_id']:
    # Make a request to the Google Places API to retrieve place details
    params = {
        'place_id': place_id,
        'fields': 'name,rating,reviews',
        'key': api_key
    }
    response = requests.get(places_endpoint, params=params)
    place_details = response.json()
    # Extract reviewer information from the API response
    if 'result' in place_details:
        result = place_details['result']
        place_name = result.get('name', '')
        reviews = result.get('reviews', [])

        # Iterate over the reviews and extract reviewer names and ratings
        for review in reviews:
            reviewer_name = review.get('author_name', '')
            reviewer_rating = review.get('rating', 0)

            # Append reviewer data and place name to the lists
            reviewer_names.append(reviewer_name)
            reviewer_ratings.append(reviewer_rating)
            place_names.append(place_name)

# Create a new DataFrame from the reviewer data and place names
df_reviewers = pd.DataFrame({'place_name': place_names, 'reviewer_name': reviewer_names, 'reviewer_rating': reviewer_ratings})

# Print the DataFrame
print(df_reviewers)

                                 place_name       reviewer_name  \
0                  Nasi Campur Bali Gus Yan   yustinus arista k
1                  Nasi Campur Bali Gus Yan      Kharisma Petra
2                  Nasi Campur Bali Gus Yan     Sutrisno Annisa
3          Taman Bali Vegetarian Restaurant  Wisata Sightseeing
4          Taman Bali Vegetarian Restaurant      Meila Fitriana
..                                      ...                 ...
504  Warung Babi Guling Sari Dewi Bp. Dobil      Hilman Suradja
505  Warung Babi Guling Sari Dewi Bp. Dobil          Bobby Chan
506  Warung Babi Guling Sari Dewi Bp. Dobil            Andy Lim
507  Warung Babi Guling Sari Dewi Bp. Dobil           Karen Tan
508  Warung Babi Guling Sari Dewi Bp. Dobil         David Petra

     reviewer_rating
0                  5
1                  2
2                  5
3                  5
4                  4
..               ...
504                5
505                5
506                5
507                3
508                5

[509 rows x 3 columns]

In [24]:
df_reviewers

,place_name,reviewer_name,reviewer_rating
0,Nasi Campur Bali Gus Yan,yustinus arista k,5
1,Nasi Campur Bali Gus Yan,Kharisma Petra,2
2,Nasi Campur Bali Gus Yan,Sutrisno Annisa,5
3,Taman Bali Vegetarian Restaurant,Wisata Sightseeing,5
4,Taman Bali Vegetarian Restaurant,Meila Fitriana,4
...,...,...,...
504,Warung Babi Guling Sari Dewi Bp. Dobil,Hilman Suradja,5
505,Warung Babi Guling Sari Dewi Bp. Dobil,Bobby Chan,5
506,Warung Babi Guling Sari Dewi Bp. Dobil,Andy Lim,5
507,Warung Babi Guling Sari Dewi Bp. Dobil,Karen Tan,3
508,Warung Babi Guling Sari Dewi Bp. Dobil,David Petra,5

In [25]:
df_reviewers.to_csv('reviewers.csv')